In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

Importing yfinance data

In [2]:

index = yf.download( "^NSEI", start = "2010-01-01",
                           end ="2023-05-01")
index

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,5200.899902,5238.450195,5167.100098,5232.200195,5232.200195,0
2010-01-05,5277.149902,5288.350098,5242.399902,5277.899902,5277.899902,0
2010-01-06,5278.149902,5310.850098,5260.049805,5281.799805,5281.799805,0
2010-01-07,5281.799805,5302.549805,5244.750000,5263.100098,5263.100098,0
2010-01-08,5264.250000,5276.750000,5234.700195,5244.750000,5244.750000,0
...,...,...,...,...,...,...
2023-04-24,17707.550781,17754.500000,17612.500000,17743.400391,17743.400391,255700
2023-04-25,17761.550781,17807.449219,17716.849609,17769.250000,17769.250000,297400
2023-04-26,17767.300781,17827.750000,17711.199219,17813.599609,17813.599609,233000
2023-04-27,17813.099609,17931.599609,17797.900391,17915.050781,17915.050781,241400
2023-04-28,17950.400391,18089.150391,17885.300781,18065.000000,18065.000000,290300

Calculating Volatility

In [3]:
index['daily_returns'] =(index['Close']-index['Open'])/index['Open']
volatility= index['daily_returns'].std() *np.sqrt(252)
volatility

0.14535374430629214

Calculating Cumulative returns

In [4]:
cumulative_returns= ( index['Close']/index['Open']).product() -1
cumulative_returns

-0.9066745126480418

Sharpe Ratio

In [5]:
daily_returns=index['daily_returns']
annual_returns= daily_returns.mean()*252
risk_free_rate = 0.035
annual_std_dev = daily_returns.std()*np.sqrt(252)
sharpe_ratio=(annual_returns-risk_free_rate) / annual_std_dev
sharpe_ratio

-1.4259091263706762

Maxdrawdown

In [6]:
index['cumulative_rolling_max'] = (index['Close']/index['Open']).cumprod()-1
drawdown = cumulative_returns - index['cumulative_rolling_max']
MDD= np.min(drawdown)
MDD

-1.059949197016781

Sortino Ratio

In [7]:
downside_return = np.where((index['daily_returns'])<0, index['daily_returns']-risk_free_rate, 0)
downside_deviation = np.sqrt(np.mean(np.square(downside_return)))
Sortino_ratio=(annual_returns-risk_free_rate)/downside_deviation
Sortino_ratio

-6.720294962305355