In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

Importing yfinance data

In [2]:

index = yf.download( "GOOG", start = "2010-01-01",
                           end ="2023-05-01")
index

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,15.615220,15.678981,15.547723,15.610239,15.610239,78541293
2010-01-05,15.620949,15.637387,15.480475,15.541497,15.541497,120638494
2010-01-06,15.588072,15.588072,15.102393,15.149715,15.149715,159744526
2010-01-07,15.178109,15.193053,14.760922,14.797037,14.797037,257533695
2010-01-08,14.744733,15.024933,14.672753,14.994298,14.994298,189680313
...,...,...,...,...,...,...
2023-04-24,106.050003,107.320000,105.360001,106.779999,106.779999,21410900
2023-04-25,106.610001,107.440002,104.559998,104.610001,104.610001,31408100
2023-04-26,105.559998,107.019997,103.269997,104.449997,104.449997,37068200
2023-04-27,105.230003,109.150002,104.419998,108.370003,108.370003,38235200
2023-04-28,107.800003,108.290001,106.040001,108.220001,108.220001,23957900

Calculating Volatility

In [3]:
index['daily_returns'] =(index['Close']-index['Open'])/index['Open']
volatility= index['daily_returns'].std() *np.sqrt(252)
volatility

0.20639621321358703

Calculating Cumulative returns

In [4]:
cumulative_returns= ( index['Close']/index['Open']).product() -1
cumulative_returns

0.5089084663886971

Sharpe Ratio

In [5]:
daily_returns=index['daily_returns']
annual_returns= daily_returns.mean()*252
risk_free_rate = 0.035
annual_std_dev = daily_returns.std()*np.sqrt(252)
sharpe_ratio=(annual_returns-risk_free_rate) / annual_std_dev
sharpe_ratio

0.08363877809625908

Maxdrawdown

In [6]:
index['cumulative_rolling_max'] = (index['Close']/index['Open']).cumprod()-1
drawdown = cumulative_returns - index['cumulative_rolling_max']
MDD= np.min(drawdown)
MDD

0.0

In [7]:
downside_return = np.where((index['daily_returns'])<0, index['daily_returns']-risk_free_rate, 0)
downside_deviation = np.sqrt(np.mean(np.square(downside_return)))
Sortino_ratio=(annual_returns-risk_free_rate)/downside_deviation
Sortino_ratio

0.5422541218325561